html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
  font-size: 1vw;
  font-weight: 600;
  /* position: absolute;
  background: rgb(14, 24, 35);
  background: radial-gradient(
    circle,
    rgba(14, 24, 35, 1) 35%,
    rgb(2, 1, 18) 100% */
    background-color: #1c252e;


}

/* body:before {
    content: "";
    position: relative;
    background-image: url("/pictures/agents/pics/background2.JPG");
    background-size: 1920px 1080x;
    opacity: 0.1;
} */


p {
    font-family: 'Alumni Sans Pinstripe',  sans-serif;
    color: #ece8e1;
}





.agent-info{
    position: relative;
    max-width: 100vw;
    /* border-top: 1px solid #ff4b50; */
    border-bottom: 1px solid #ff4b50;
    border-top: 1px solid #ff4b50;
    display: flex;
    font-family: "Oswald", sans-serif;
    color: #ece8e1;
    overflow-y: hidden;
    /* animation-name: openagentpage;
    animation-duration: 2s; */
    box-shadow: inset 0px 0px 30px 0px #ff4b50;
}

@keyframes openagentpage {
    0%   {max-height: 0vh;}
    100% {max-height: 80vh;}
}

.agent-info:before {
  content: "";
  background-image: url("/pictures/agents/pics/background4.jpg");
  background-size: 1920px 1080px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.6;
}

.agent-info h1 {
    margin: 0;
    font-size: 2.5vw;
    height: 15%;
    text-shadow: 2px 2px #ff4b50;
}

.agent-picture{
    font-family: "Oswald", sans-serif;
    color: #ece8e1;
    display: flex;
    flex-direction: column;
    width: 25vw;
    text-align: center;

}

.agent-picture h1 {
    font-size: 4vw;

}
.agent {
    width: 18.2vw;
    margin: auto;
    transition: 0.1s ease-in-out;
}

.agent:hover {
    -webkit-filter: drop-shadow(2px 2px 0 #ff4b50)
    drop-shadow(-2px -2px 0 #ece8e1);
filter: drop-shadow(2px 2px 0 #ff4b50) 
drop-shadow(-2px -2px 0 #ece8e1);
transform: scale(1.2);
}

.bio-skills {
    margin-right: 0.5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35vw;
    height: fit-content;
}

.bio-skills p{
    margin-top: 0;
    font-size: calc(6px + 1.25vw)
}

.skills {
    display: flex;
    justify-content: space-around;
    margin-top: 0.8vw;
    margin-bottom: 1.05vw;
    z-index: 2;
}

.skills img {
    width: 3.25vw;
    /* padding: 0.25vw;
    border: 0.15vw solid #ece8e1;
    border-radius: 0.5vw;
    cursor: pointer; */
}

.bio-skills h2{
    text-shadow: 1px 1px #ff4b50;
    font-size: 1.8vw;
    margin: 0px;
}

.skills-text p {
    margin: 0.25vw;
    font-size: calc(6px + 1.1vw);
}

.skills-text{
    transition: all 0.2s;
}

.skills-text.pre-animation{
    opacity: 0;
}




.video-container {
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    width: 40vw;
    margin: auto;
    margin-right: 2vw;
 
}



.container.pre-animation {
    opacity: 0;
}

video {
width: 90%;
height: auto;
border: 3px solid #ece8e1;
border-radius: 3.6vw 1vw;
box-shadow: 10px 5px 5px #ff4b50;
}


.slider {
    max-width: 100vw;
    overflow: hidden;
}
.slider-line {
    display: flex;
    transition: all ease 1s;
    overflow-x: hidden;
}





.buttons{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5vw;
}



#main-container {
    position: relative;
    width: 80vw;
    margin: auto;
    height: 65vw;
    border-left: 1px solid #ff4b50;
    border-right: 1px solid #ff4b50;
    box-shadow: inset 0px 1vw 0px 0px #ff4b50;
    
}

#main-container:before {
        content: "";
        background-image: url("/pictures/agents/pics/background2.JPG");
        background-size: 1920px 1080px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        opacity: 0.2;
}

#agents-list {
    display: flex;
}

.row-1 {
    width: 20vw;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.agent-class{
    width: 14.06vw;
    height: auto;
}

.agent-class img {
    margin-bottom: 0px;
    opacity: 1;
    width: 5.7vw;
    -webkit-filter: drop-shadow(2px 2px 2px #ff4b50);
    filter: drop-shadow(2px 2px 2px #ff4b50);
}

.agent-class h2 {
    color:#ece8e1;
    font-size: 2.08vw;
    text-shadow: 1px 1px #ff4b50;
    text-align: center;
}

.agent-class p {
    font-size: calc(4px + 1.1vw);
    background-color: #1c252e;
}


/* 
.contr-animation1 {
    animation-name: slideIn;
    animation-name: divExpand;
    animation-duration: 2s;
}

.contr-animation2 {

}

@keyframes appear {
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1
    }
}

@keyframes divExpand {
    0% {
        height: 0;
    }
    100% {
        height: 25vh;
    }
} */


.agent-icon{
    opacity: 0.8;
    width: 5.2vw;
    border: 3px solid #ece8e1 ;
    border-radius: 2.6vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    box-shadow: 2px 2px 2px #ff4b50;
}


