@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Oswald:wght@400;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Alumni Sans Pinstripe',  sans-serif;
    font-family: 'Oswald', sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;           /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: none;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #08090c;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #ddd8c4;  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

body::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}



/*************************
HEADER SECTION
*************************/

header { 
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* position: relative;
    padding-bottom: 56.25%; */
  }
  
  #header-headline {
    margin-top: 20px;
    margin-left: 8.33%;
    background: #fff;
    padding: 10px;
    max-width: 17%;
  }
  
  #logo-text {
    float: left;
  }
  
  #logo-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: auto;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  #main-nav {
    float: right;
    list-style: none;
  }
  
  #main-nav li {
    display: inline-block;
    margin-right: 30px;
    font-size: 1em;
  }
  #main-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #171717;
  }
  
  #main-nav li a:link,
  #main-nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #171717;
    opacity: 0.7;
  }
  #main-nav li a:hover,
  #main-nav li a:active {
    opacity: 1;
  }
  
  #sticky-nav #main-nav li a:hover,
  #sticky-nav #main-nav li a:active {
    opacity: 1;
    border-bottom: 2px solid #171717;
    transition: 0.3s;
  }
  
  #sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0 2px 2px #eae3e3;
  }
  
  #sticky-nav #logo-image {
    position: fixed;
    top: 0;
    left: 0;
  }
  
  #sticky-nav #main-nav li a:link,
  #sticky-nav #main-nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #171717;
    opacity: 0.7s;
    transition: opacity 0.5s;
  }
  
  #sticky-nav #logo-text {
    text-decoration: none;
    text-transform: uppercase;
    color: #171717;
    letter-spacing: 6px;
    padding-left: 25px;
    margin-left: 30px;
  }
  
  #logo-text  {
    text-decoration: none;
    text-transform: uppercase;
    color: #171717;
    letter-spacing: 8px;
    padding-left: 30px;
    margin-left: 50px;
  }
  
  nav {
    background: #fff;
    padding: 25px;
  }

  #My-video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  #My-video:hover {
     cursor:pointer;  
}

.vjs-control-bar { display:none!important; }

#languages {
    font-family: 'Oswald', sans-serif;
    color: gray;
    border: 1px solid #fff;
    font-size: 18px;
    cursor: pointer;
    padding: 0 5px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.intro-title  {
  margin: 0;
  color: #fff;
  text-align: center;
  opacity: 0.8;
  cursor: default ;
  font-size: 1.6vw;
}

.intro-logo {
  text-align: center;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  opacity: 0.5;
  width: 35vw;
}
/*************************
ABOUT SECTION
*************************/

#about {
  background-color: #ece8e1; 
}

.about-title-header {
  font-size: 8vw;
    text-align: start;
    margin-left: 18vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-family: 'Oswald', sans-serif;
    color: #0F1923;
    letter-spacing: -0.4vw;
    text-transform: uppercase;
}

.about-info {
  width: 17vw;
  display: block;
  text-align: start;
  margin-left: 22vw;
  height: 20vw;
}

.about-info-header-text  {
  color: #768079;
}

.about-header {
  padding-bottom: 1.5vw;
  color: #383E3A;
  text-transform: uppercase;
}

.about-main-div {
  display: flex;
  justify-content: space-around;
}

.about-video {
  width: 40%;
  height: 40%;
 
}

.gameplay-video {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-bottom: 3vw;
}

.btn {
  
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: var(--button-text-color);
  cursor: pointer;
  
  
  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #7D8082;
  --button-background-color: #ece8e1;
  --highlight-color: #ff4655;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);
  
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3vw;
  transition: all .15s ease;
  margin-top: 2vw;
}

.btn::before,
.btn::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all .15s ease;
}

.btn::before {
  top: 0;
  border-bottom-width: 0;
}

.btn::after {
  bottom: 0;
  border-top-width: 0;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:active::before,
.btn:active::after {
  right: 3px;
  left: 3px;
}

.btn:active::before {
  top: 3px;
}

.btn:active::after {
  bottom: 3px;
}


.btn-inner {
  position: relative;
  display: block;
  padding: 20px 30px;
  background-color: var(--button-background-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn-inner::before {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--button-bits-color);
}

.btn-inner::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-bits-color);
  transition: all .2s ease;
}

.btn-slide {
  display: block;
  position: absolute;
  top: 0; bottom: -1px; left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all .2s ease;
}

.btn-content {
  position: relative;
}

.btn:hover {
  color: var(--button-text-color-hover);
}

.btn:hover .btn-slide {
  width: calc(100% + 15px);
}

.btn:hover .btn-inner::after {
  background-color: var(--button-bits-color-hover);
}

.btn-arsenal:hover {
  background-color: black;
}

.btn-light {
  --button-background-color: var(--background-color);
  --button-text-color: var(--highlight-color);
  --button-inner-border-color: var(--highlight-color);
  --button-text-color-hover: #ece8e1;
  --button-bits-color-hover: #ece8e1;
}

/*************************
ARSENAL SECTION
*************************/

#arsenal {
  background-color: #ff4655;
  overflow-y: hidden;
  height: 100%;
  background-size: contain;
}

.arsenal-info-header-text {
  color: #ECE8E1;
}

.arsenal-title-header {
  font-size: 8vw;
    text-align: start;
    margin-left: 18vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-family: 'Oswald', sans-serif;
    color: #0F1923;
    letter-spacing: -0.4vw;
    text-transform: uppercase;
    text-shadow: 5px 10px white;
}

.arsenal-image {
  max-width: 100%;
  height: auto;
}

.arsenal-weapon-text {
  position: absolute;
  text-align: center;
  margin-top: 2vw;
}

.image-phantom:hover {
  scale: 1.1;
  transition: 0.5s;
}

.arsenal-weapon-text {
  color: #ECE8E1;
}

.arsenal-header {
  padding-bottom: 1.5vw;
  color: #383E3A;
  text-transform: uppercase;
  font-size: 1.5vw;
}


/*************************
AGENTS SECTION
*************************/

#agents {
  background: url("/pictures/background/1239568.jpg" );
}

.agents-title-header {
  font-size: 8vw;
    text-align: start;
    margin-left: 18vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-family: 'Oswald', sans-serif;
    color: #0F1923;
    letter-spacing: -0.4vw;
    text-transform: uppercase;
    text-shadow: 5px 10px #ff4655;
}

.agents-info {
  width: 17vw;
  display: block;
  text-align: start;
  margin-left: 22vw;
  height: 20vw;
}

.agents-info-header-text  {
  color: #768079;
  font-size: 0.85vw;
}

.agents-header {
  padding-bottom: 1.5vw;
  color: #828683;
  text-transform: uppercase;
  font-size: 1.4vw;
}

.agents-main-div {
  display: flex;
  justify-content: space-around;
}

.about-video {
  width: 40%;
  height: 40%;
 
}

.gameplay-video {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-bottom: 3vw;
}

.fade-image, .chamber-image{
  height: 26vw;
  
}

