@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Oswald:wght@400;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Alumni Sans Pinstripe',  sans-serif;
    font-family: 'Oswald', sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;           /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: none;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #08090c;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid #ddd8c4;  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

body::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}



/*************************
HEADER SECTION
*************************/

header { 
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* position: relative;
    padding-bottom: 56.25%; */
  }
  
  #header-headline {
    margin-top: 20px;
    margin-left: 8.33%;
    background: #fff;
    padding: 10px;
    max-width: 17%;
  }
  
  #logo-text {
    float: left;
  }
  
  #logo-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: auto;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  #main-nav {
    float: right;
    list-style: none;
  }
  
  #main-nav li {
    display: inline-block;
    margin-right: 30px;
    font-size: 1em;
  }
  #main-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #171717;
  }
  
  #main-nav li a:link,
  #main-nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #171717;
    opacity: 0.7;
  }
  #main-nav li a:hover,
  #main-nav li a:active {
    opacity: 1;
  }
  
  #sticky-nav #main-nav li a:hover,
  #sticky-nav #main-nav li a:active {
    opacity: 1;
    border-bottom: 2px solid #171717;
    transition: 0.3s;
  }
  
  #sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0 2px 2px #eae3e3;
  }
  
  #sticky-nav #logo-image {
    position: fixed;
    top: 0;
    left: 0;
  }
  
  #sticky-nav #main-nav li a:link,
  #sticky-nav #main-nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #171717;
    opacity: 0.7s;
    transition: opacity 0.5s;
  }
  
  #sticky-nav #logo-text {
    text-decoration: none;
    text-transform: uppercase;
    color: #171717;
    letter-spacing: 6px;
    padding-left: 25px;
    margin-left: 30px;
  }
  
  #logo-text  {
    text-decoration: none;
    text-transform: uppercase;
    color: #171717;
    letter-spacing: 8px;
    padding-left: 30px;
    margin-left: 50px;
  }
  
  nav {
    background: #fff;
    padding: 25px;
  }

  #My-video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  #My-video:hover {
     cursor:pointer;  
}

.vjs-control-bar { display:none!important; }

#languages {
    font-family: 'Oswald', sans-serif;
    color: gray;
    border: 1px solid #fff;
    font-size: 18px;
    cursor: pointer;
    padding: 0 5px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.intro-title  {
  margin: 0;
  color: #fff;
  text-align: center;
  opacity: 0.8;
  cursor: default ;
  font-size: 1.6vw;
}

.intro-logo {
  text-align: center;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  opacity: 0.5;
  width: 35vw;
}
/*************************
ABOUT SECTION
*************************/

#about {
  background-color: #ece8e1; 
}

.about-title-header {
  font-size: 8vw;
    text-align: start;
    margin-left: 18vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-family: 'Oswald', sans-serif;
    color: #0F1923;
    letter-spacing: -0.4vw;
    text-transform: uppercase;
}

.about-info {
  /* width: 17vw; */
  display: block;
  text-align: start;
  margin-left: 22vw;
  /* height: 20vw; */
}

.about-info-header-text  {
  color: #768079;
  width: 320px;
}

.about-header {
  padding-bottom: 1.5vw;
  color: #383E3A;
  text-transform: uppercase;
  font-size: 30px;
}

.about-main-div {
  display: flex;
  justify-content: space-around;
}

.about-video {
  width: 40%;
  height: 40%;
 
}

.gameplay-video {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-bottom: 1vw;
}

.about-video-buttons {
  position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1vw;
}

.video-btn {
  background: #ff4655;
  border-radius: 1px solid white;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
/*************************
ARSENAL SECTION
*************************/

#arsenal {
  background-color: #ff4655;
}

.arsenal-info-header-text {
  color: #ECE8E1;
  width: 320px;
}

.arsenal-title-header {
  font-size: 8vw;
    text-align: start;
    margin-left: 18vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-family: 'Oswald', sans-serif;
    color: #0F1923;
    letter-spacing: -0.4vw;
    text-transform: uppercase;
    text-shadow: 5px 10px white;
}

.arsenal-image {
  max-width: 100%;
  height: auto;
}

.arsenal-info {
  display: block;
  text-align: start;
  margin-left: 22vw;
  margin-bottom: 2vw;

}

.image-phantom {
  width: 35vw;
}

.arsenal-weapon-text {
  position: absolute;
  text-align: center;
  margin-top: 2vw;
}

.image-phantom:hover {
  scale: 1.1;
  transition: 0.5s;
}

.arsenal-weapon-text {
  color: #ECE8E1;
}

.arsenal-header {
  padding-bottom: 1.5vw;
  color: #383E3A;
  text-transform: uppercase;
  font-size: 30px;
}


/*************************
AGENTS SECTION
*************************/

#agents {
  background: url("/pictures/background/1239568.jpg" );
  z-index: -99;
}

.agents-title-header {
  font-size: 8vw;
    text-align: start;
    margin-left: 18vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-family: 'Oswald', sans-serif;
    color: #0F1923;
    letter-spacing: -0.4vw;
    text-transform: uppercase;
    text-shadow: 5px 10px #ff4655;
}

.agents-info {
  
  display: block;
  text-align: start;
  margin-left: 22vw;
 
}

.agents-info-header-text  {
  color: #768079;
  width: 320px;
}

.agents-header {
  padding-bottom: 1.5vw;
  color: #828683;
  text-transform: uppercase;
  font-size: 30px;
}

.agents-main-div {
  display: flex;
  justify-content: space-around;
}

.about-video {
  width: 40%;
  height: 40%;
 
}

.fade-image, .chamber-image{
  height: 26vw;
  
}

.fade-image:hover, .chamber-image:hover {
  scale: 1.1;
  transition: 0.5s;
}

/*************************
FOOTER SECTION
*************************/

#footer-nav {
  margin-bottom: 3.5vw;
}

#footer-section {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background: url(/pictures/background/backgroung-section1.jpg);
  
}

#footer-section p {
  font-size: 70%;
}

#footer-social-links {
  list-style: none;
  margin-left: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1.5vw;
}

#footer-social-links li {
  display: inline-block;
  margin-right: 30px;
  font-size: 1em;
}

#footer-nav li a{
  margin-bottom: 20px;
  font-size: 1.6vw;
}

#footer-nav li a:link,
#footer-nav li a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #171717;
  opacity: 0.7;
  transition: opacity 0.5s;
  font-size: 1.5em;
}

#footer-nav li a:hover,
#footer-nav li a:active {
  opacity: 1;
}

#footer-social-links li a:link,
#footer-social-links li a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #171717;
  opacity: 0.5;
  font-size: 25px;
}

#footer-social-links li a:hover,
#footer-social-links li a:active {
  opacity: 1;
}

#footer-nav ul {
  list-style: none;
}

#footer-images img {
 
  height: 6em;
}



/**************************
BUTTON STYLE
**************************/

.btn {
  
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: var(--button-text-color);
  cursor: pointer;
  
  
  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #7D8082;
  --button-background-color: #ece8e1;
  --highlight-color: #ff4655;
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);
  
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  transition: all .15s ease;
  margin-top: 2vw;
}

.btn::before,
.btn::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all .15s ease;
}

.btn::before {
  top: 0;
  border-bottom-width: 0;
}

.btn::after {
  bottom: 0;
  border-top-width: 0;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:active::before,
.btn:active::after {
  right: 3px;
  left: 3px;
}

.btn:active::before {
  top: 3px;
}

.btn:active::after {
  bottom: 3px;
}


.btn-inner {
  position: relative;
  display: block;
  padding: 20px 30px;
  background-color: var(--button-background-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn-inner::before {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--button-bits-color);
}

.btn-inner::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-bits-color);
  transition: all .2s ease;
}

.btn-slide {
  display: block;
  position: absolute;
  top: 0; bottom: -1px; left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all .2s ease;
}

.btn-content {
  position: relative;
}

.btn:hover {
  color: var(--button-text-color-hover);
}

.btn:hover .btn-slide {
  width: calc(100% + 15px);
}

.btn:hover .btn-inner::after {
  background-color: var(--button-bits-color-hover);
}

.btn-arsenal:hover {
  background-color: black;
}

.btn-light {
  --button-background-color: var(--background-color);
  --button-text-color: var(--highlight-color);
  --button-inner-border-color: var(--highlight-color);
  --button-text-color-hover: #ece8e1;
  --button-bits-color-hover: #ece8e1;
}


/*************************************
Media Queries Styles
**************************************/

@media only screen and (max-width: 780px) {
  .gameplay-video, .image-phantom, .arsenal-weapon-text, .fade-image, .chamber-image, .video-btn {
    display: none;
  }
}

@media only screen and (max-width: 440px) {
  .about-info, .arsenal-info, .agents-info {
    margin-left: 11vw;
  }

  .intro-title {
    font-size: 4vw;
  }

  .intro-logo {
    width: 50vw;
  }
}

@media only screen and (max-width: 350px) {
  .about-info-header-text, .arsenal-info-header-text, .agents-info-header-text {
    width: 250px;
  }

  .about-title-header, .arsenal-title-header, .agents-title-header {
    text-align: center;
    margin-left: 0;
    font-size: 30px;
  }

.agents-title-header {
  text-shadow: none;
  color: #ff4655;
}

}



/* CSS */
